.input-research,
.search {
    font-weight: 700;
    line-height: 21px;
}
.section-search-filter {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.p-h1-margin-t {
    margin-top: 7.5px;
}
.search-button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 377px;
    height: 49px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    border-radius: 15px;
    margin: 18px 0 0;
}
.search-button:hover {
    filter: drop-shadow(1px 2px 1px  rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(1px 2px 1px  rgba(0, 0, 0, 0.25));
}
input {
    border: none;
    outline: 0;
}
.input-research {
    display: block;
    font-size: 1.125em;
    border: 0 solid transparent;
    padding-left: 24px;
    padding-right: 0;
    width: 195px;
    background-color: transparent;
}
.input-research::placeholder {
    color: #000;
    opacity: 1;
}
.location {
    font-size: 18px;
    padding: 14px 17.5px 14px 17px;
    background: #f2f2f2;
    border: 0 solid red;
    border-radius: 15px 0 0 15px;
    position: relative;
    left: -1px;
    /* top: 1px; */
}
.location i {
    position: relative;
    top: 1px;
}
.location:hover,
.search {
    background-color: #0065fc;
    border: 1px solid #0065fc;
}
.search {
    padding: 14px 18px 14.5px 16.5px;
    font-size: 1.125em;
    border-radius: 0 15px 15px 0;
    border: 0 solid red;
    color: #fff;
    position: relative;
    top: 1px;
}
.desktop {
    display: block;
    position: relative;
    top: 1.5px;
}
.mobile {
    display: none;
    color: #fff;
}
.search-filter {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 36px;
    gap: 15px;
}
.search-filter .font-filter-button,
.search-filter .font-h2 {
    display: flex;
    gap: 15px;
}
.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    height: 46.5px;
    gap: 7.5px;
}
.filter i {
    display: block;
    width: 22px;
    height: 22px;
    object-fit: contain;
    font-size: 1.375em;
}
.filter a {
    display: block;
    height: 22px;
}
.info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 51px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info i {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 2px solid #d9d9d9;
    border-radius: 50%;
    padding: 6px 10px 7px 8.5px;
    box-sizing: border-box;
    font-size: 0.625em;
}
.info .font-p {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
}
.hidden,
.hotel {
    display: none;
}
button:hover {
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
}
.filter:active,
.filter:active a,
button:active {
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.35);
}
button:active {
    color: #f2f2f2;
}
.location:hover i {
    color: orange;
}
.location:active i {
    color: #0065fc;
}
.filter:first-child i {
    position: relative;
    top: 1px;
    font-size: 1.188em;
}
.filter:nth-child(3) i {
    position: relative;
    top: -0.25px;
    left: -4px;
}
.filter:nth-child(4) i {
    position: relative;
    top: 0.25px;
    font-size: 1.26em;
}
.filter a,
.filter i {
    position: relative;
    top: 0.25px;
    left: -2px;
}
.filter:nth-child(2) i {
    position: relative;
    left: 0;
    top: -0.5px;
}
.filter:hover {
    background-color: #deebff;
}
.filter:first-child:active {
    border: 2px solid #9acd32;
    background-color: #daff91;
}
.filter:first-child:active i {
    color: green;
}
.filter:nth-child(2):active {
    border: 2px solid #0065fc;
}
.filter:nth-child(3):active {
    border: 2px solid red;
    background-color: #fabdbd;
}
.filter:nth-child(3):active i {
    color: red;
}
.filter:nth-child(4):active {
    border: 2px solid orange;
    background-color: #ffe2ad;
}
.filter:nth-child(4):active i {
    color: #ff8c00;
}
@media screen and (max-width: 1024px) {
    .input-research,
    .search {
        font-size: 1.125em;
    }
    .search-filter .font-h2 {
        width: 100%;
    }
    .search-filter {
        margin-top: 21px;
        gap: 7px;
    }
    .filter a {
        letter-spacing: -0.55px;
        position: relative;
        top: 1px;
    }
    .info {
        margin-top: 22px;
        margin-bottom: 21.5px;
    }
}
@media screen and (max-width: 768px) {
    .filter a,
    .location,
    .location i,
    .search,
    .search i,
    .search-button {
        position: relative;
    }
    .section-search-filter {
        max-width: 608px;
        margin: 30px auto auto;
    }
    .desktop {
        display: none;
    }
    .filter:nth-child(4),
    .logo,
    .search-button {
        align-self: center;
    }
    .input-research,
    .search {
        font-size: 18px;
    }
    .mobile,
    .search {
        display: block;
        color: #fff;
        border-radius: 15px;
    }
    .search-button {
        max-width: 335px;
        width: 89.333vw;
        min-height: 48px;
    }
    .input-research {
        max-width: 234px;
        width: 57vw;
        min-width: 240px;
        padding-left: 53px;
        padding-right: 0;
        margin: 0;
        position: absolute;
        left: 20px;
    }
    .location {
        padding: 14.5px 24px 13.5px 15px;
        position: absolute;
        left: -1px;
        top: -0.5px;
    }
    .location i {
        left: 2.5px;
        top: -1px;
    }
    .search {
        padding: 15.5px;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        min-height: 49px;
        top: 0;
    }
    .search i {
        display: block;
        font-size: 1.063em;
        left: 1px;
    }
    .search-filter {
        gap: 15px;
        width: 100%;
    }
    .search-filter .font-h2 {
        margin-bottom: 1px;
    }
    .search-filter .font-filter-button {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 24px 11px;
        margin: 5px auto 0;
        width: calc(100vw - 40px);
    }
    .font-filter-button {
        margin: auto;
        max-width: 346px;
    }
    .filter {
        justify-content: flex-start;
        align-items: center;
        width: calc(43.5% - 25px);
        text-align: center;
        min-width: 161px;
        max-width: 165px;
    }
    .filter i {
        display: block;
        width: 22px;
        height: 22px;
        object-fit: contain;
        font-size: 1.32em;
    }
    .filter a {
        top: 3px;
        left: 0.5px;
        display: block;
        font-weight: 700;
        font-size: 0.8em;
        line-height: 16px;
        letter-spacing: 0.3px;
    }
    .info {
        margin-top: 28.75px;
        margin-bottom: 0;
    }
}
